body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    background-color: white;
}


button{
    background-color:rgb(255, 51, 0);
    color: white;
    padding: 20px 5px;
    margin: 8px 0;
    cursor: pointer;
    width: 30%;
    border-radius: 1rem;
}

button:hover{
    background-color:ghostwhite;
    color: blue;
    border: 1px solid blue;
    border-radius: 1rem;
}
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(230, 106, 5);
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding: 10px;
}
#moi{
    margin: 5px -30px;
    padding: 10px 30px;
}
.button{
    background-color: orangered;
    color: white;
    padding: 11px 163px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
}
.button:hover{
    background-color: ghostwhite;
    color: red;
    border: 1 px solid blue;

}

.long{
    background-color: black;
    color: orangered;
    padding: 5px 0px ;


}

.ion{
    background-color:orangered;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 2rem;
}

/* {
	margin: 0;
	padding: 0;
	outline: none; 
} */

body{
	background: linear-gradient(90deg, #FC4668, #0000ff);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif ;
}

.container{
	position: relative;
}

form{
	background: rgba(255,255,255, .3);
	padding: 4rem;
	height: 320px;
	border-radius: 20px;
	border-left: 1px solid rgba(255,255,255, .8);
	border-top:  1px solid rgba(255,255,255, .8);
    
	box-shadow: 20px 20px 40px -6px rgba(0,0,0, .2);
	text-align: center;

}

p{
	color:  white;
	font-weight: 500;
	opacity: .5;
	font-size: 1.4rem;
	margin-bottom: 60px;
	text-shadow: 2px 2px 4px rgba(0,0,0, .2);

}

a{
	color: #ddd;
	/*pour enlever la ligne sur le lien*/
	text-decoration: none;
	font-size: 12px;
	/*durée du nombre de trmps sur le lien*/
	transition: all .2s;
}
a:hover {
	/*très bon hover*/
	 text-shadow: 2px 2px 6px rgb(0,0,0);

   
}
 input{
 	background: transparent;
 	border: none;
 	border-left: 1px solid rgba(255,255,255, .6);
 	border-top:  1px solid rgba(255,255,255, .6);
 	padding:  1rem;
 	width: 200px;
 	border-radius: 50px;
 	box-shadow: 4px 4px 60px rgba(0,0,0, .3);
 	color: white;
 	font-weight: 500;
 	text-shadow: 2px 2px 4px rgba(0,0,0, .9);
 	transition: all .3s;
 	margin-bottom:2em; 
 }

 ::placeholder{
 	color: white;
 }

 .drop{
 	background: rgba(255,255,255, .3);
 	backdrop-filter: blur(10px);
 	position: absolute;
 	border-left: 1px solid rgba(255,255,255, .8);
	border-top:  1px solid rgba(255,255,255, .8);
 	border-radius: 10px;
 	box-shadow: 10px 10px 60px -8px rgba(0,0,0, .2);
 }

 .drop-1{
 	height: 80px; width: 80px;
 	top: -20px; left: -40px;
 	z-index: -1;
 }

 .drop-2{
 	height: 85px; width: 80px;
 	bottom: -50px; right: 5px;
 }

 /*.drop-3{
 	height: 100px; width: 100px;
 	bottom: 120px; right: -50px;
 	 z-index: -1;
 }*/

 .drop-4{
 	height: 100px; width: 120px;
 	bottom: 400px; right: -50px;

 }

 /*.drop-5{
 	height: 60px; width: 60px;
 	bottom: 170px; right: 90px;
 	z-index: -1;

 */
